/* global.css */

/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Body styling */
body {
    background-color: #f7f9fc;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
}

/* Header Layout */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #00287E;
    padding: 15px 10px;
    position: relative;
}
header div {
    display: flex;
    align-items: center;
}
header img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}
header a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bolder;

}
header a:hover {
    color: #FBF2FB;
}
/* Hamburger Button Toggle for mobile views */
#menu-toggle {
    background: none;
    border: none;
    color: white;
    font-size:2.8rem;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}

/* Navbar */
.navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 65px;
    right: 5px;
    background-color: #00287E;
    border: solid 1px white;
    border-radius: 8px;
    padding: 5px;
    width: 50%;
    z-index: 1000;
}
.navbar a {
    padding: 8px 10px;
    color: white;
    text-decoration: none;
    text-align: left;
    border-bottom: 1px solid rgba(255, 252, 252, 0.558);
}
.navbar a:hover {
    color: #FBF2FB;
}
.navbar a:last-child {
    border-bottom: none;
}
.navbar.active {
    display: flex;
}

/* Desktop View */
@media (min-width: 1024px) {
    #menu-toggle {
        display: none;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        position: static;
        background: none;
        box-shadow: none;
        margin-top: 0;
    }

    .navbar a {
        padding: 10px 20px;
        border: none;
        text-align: center;
    }

    .navbar a:hover {
        background-color: rgba(0, 71, 178, 0.5);
        border-radius: 5px;
    }
}