/* index.css */

/* General Page Styling for Mobile  View (default)*/
main {
    margin-top: 0;
    background-color: #ffffff;
}
h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #00287E;
    text-align: center;
    margin: 5px 0;
}

/* Map */
#map {
    height: 500px;
    width: 90%;
    margin: 5px auto;
    border: 3px solid #00287E;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.443);
}

/* mi_parks Styling */
#mi_parks {
    margin: 20px auto;
    padding: 20px 25px;

    background: #00287E;
    font-size: 1.1rem;
    color: #ffffff;
    line-height: 1.8;
    width: 100%;
    border: 1px solid #ddd;
}
#mi_parks p {
    margin-bottom: 15px;
}

/* Footer */
footer {
    background: #00287E;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 1rem;
}

/* Desktop View */
@media (min-width: 1024px) {
    /* Map */
    #map {
        height: 700px;
        width: 90%;
        margin: 5px auto;
        border: 3px solid #00287E;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.443);
    }
}