/* parks.css */

/* General Page Styling */
body {
    background-color: #00287E;
    color: #090909;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.3;
}

/* Main Content */
main {
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.443);
    margin: 0 auto 30px auto;
    width: 90%;
}

/* Section Titles */
h1 {
    font-size: 2.2rem;
    color: #00287E;
    text-align: center;
}
h2 {
    font-size: 1.8rem;
    color: #00329e;
    margin-bottom: 8px;
    border-bottom: 2px solid #0043c6;
}

/* Section Styling */
#top-section {
    border-top: 2px solid #0043c6;
    margin-top: 10px;
    padding-top: 10px;
}
section p {
    margin-bottom: 15px;
    font-size: 1.1rem;
    color: #1a1a1a;
    text-align: left;
}
section ul {
    padding-left: 20px;
    margin: 10px 0;
}
section ul li {
    font-size: 1.1rem;
    margin-bottom: 8px;
}

/* Gallery Section */
#gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}
#galleryImage {
    width: 100%;
    height: auto;
    border: 2px solid #00287E;
    border-radius: 8px;
    margin-bottom: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.443);
}
.gallery-controls {
    display: flex;
    gap: 10px;
}
.gallery-controls button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #00287E;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.gallery-controls button:hover {
    background-color: #00287E;
    transform: scale(1.05);
}

/* Footer */
footer {
    background: #00287E;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 1rem;
    margin-top: 30px;
}

/* History Section Specific Styling */
section h2:last-of-type {
    margin-top: 30px;
}
section p:last-child {
    margin-bottom: 0;
}

@media (min-width: 1024px) {
}