/* parks.css */

/* Light Mode Styles (Default) */
/* Gallery Section */
#gallery {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin: 20px 0;
}
#galleryImage {
    width: 90%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 10px;
}
.gallery-controls {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
.gallery-controls button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #006400;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.gallery-controls button:hover {
    background-color: #004d00;
}